@{
    ViewBag.Title = "About";
    ViewBag.Message = "National Library";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<img src="http://nationallibrary.bg/wp/wp-content/uploads/2020/05/home-02.jpg" alt="Alternate Text" />

<h2>
    Националната библиотека „Св. св. Кирил и Методий“ в София е най-старият културен институт на следосвобожденска България и най-голямата обществена библиотека в страната.

    Библиотеката е разположена в центъра на столицата, до централната сграда на Софийския университет „Свети Климент Охридски“.

    Депозитна е за всички документи, публикувани в България. Притежава монографии, периодични издания и други документи на различни езици, публикувани в страни от цял свят. Библиотечният фонд наброява 7 808 928 библиотечни единици[1]. Библиотеката издава списание „Библиотека“, специализирано за библиотечна теория и практика.
</h2>
