@{
    ViewBag.Title = "Home Page";
}
<img src="http://www.nationallibrary.bg/wp/wp-content/uploads/2017/02/NBKM_logo100-e1547208922213.png" alt="Alternate Text" />
<img src="http://nationallibrary.bg/wp/wp-content/uploads/2018/12/tnb.png" alt="Текуща национална библиография" />


<div class="jumbotron">
    <h1>Национална библиотека „Св. св. Кирил и Методий“</h1>
    <p class="lead">Който учи, той ще сполучи</p>
    <p><a href="About" class="btn btn-primary btn-lg">Научи Повече &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Стандартът Биткойн</h2>
        <p>
            „Стандартът Биткойн“ анализира историческия контекст на възхода на криптовалутата, икономическите свойства, позволили на тази валута да се разрасне така бързо и вероятните икономически, политически и социални последици.
        </p>
        <p><a class="btn btn-default" href="https://bitcoinstandard.bg/">Виж Тук &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Богат татко, беден татко</h2>
        <p>Уроците за парите, на които богатите учат децата си, а бедните и средната класа - не. Робърт Кийосаки промени начина, по който милиони хора по света мислят за парите. Той притежава репутация на човек, чиито възгледи често противоречат на конвенционалното мислене със своята смелост и безкомпромисна откровеност. Той е световно признат експерт по финансова грамотност.</p>
        <p><a class="btn btn-default" href="https://www.impulsebg.com/iztegli-bezplatno-bogat-tatko-beden-tatko.html">Виж Тук &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Изключителните</h2>
        <p>
            Запитвали ли сте се защо някои хора са постигнали забележителен успех, докато други – също толкова способни – не са успели? Има ли някаква тайна зад невероятния успех на Бийтълс, Бил Гейтс и бизнесмените, родени през 30-те, за разлика от родените през 40-те години на ХХ век?
            Тази книга се опитва да отговори на подобни въпроси, използвайки социологически, културно-исторически и поколенчески анализи, и не на последно място прост и ясен език.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Outliers_(book)">Learn more &raquo;</a></p>
    </div>
</div>